{% extends "header.html" %}
{% load static %}
{% block content %}
    <body class="light  pace-done" id="body">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <header>
        <div class="navbar" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Short.ly </a>
                </div>
            </div>
        </div>
    </header>


    <section>
        <div class="container" id="app">
            <div class="row">
                <div class="col-md-12">
                    <div class="share-this"></div>
                    <div class="alert alert-success" v-if="successMessage">${successMessage}<br><br>
                    </div>
                    <div class="alert alert-danger" v-if="errors.length > 0">
                        <ul v-for="error in errors">
                            <li v-for="msg in error[1]">
                                ${ msg }
                            </li>
                        </ul>
                    </div>
                    <form action="{% url 'short_url' %}" id="main-form" role="form" method="post"
                          v-on:submit.prevent>
                        {% csrf_token %}
                        <div class="main-form">
                            <div class="row" id="single">
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                                        <input type="text" class="form-control main-input" name="url" value=""
                                               v-model="url" placeholder="Paste a long url" id="url">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-default btn-block main-button" id="shortenurl"
                                            v-if="shortenButton" type="submit" v-on:click="shorten">
                                        Shorten
                                    </button>
                                    <button class="btn btn-primary btn-block main-button" id="copyurl" v-if="copyButton"
                                            type="button" data-clipboard-target="#url">
                                        Copy
                                    </button>


                                </div>
                            </div>
                        </div>
                        <!-- /.main-form -->

                        <div class="main-advanced" style="">
                            <div class="row">
                                <div class="col-md-4">
                                    <h3>Custom Alias</h3>
                                    <p>If you need a custom alias, you can enter it below.</p>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-pencil"></i></span>
                                        <input type="text" class="form-control" name="custom"
                                               placeholder="Type your custom alias here" v-model="custom">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="0" name="multiple" id="multiple-form">
                        <input type="hidden" value="cbe07409f3390759af5cc30264bc1722">
                    </form>
                    <div class="call-to-action">
                        <span>The best URL shortener that you will ever find on the internet. Make shorter those loooong URLs </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="more">
        <div class="container">
            <div class="row feature">
                <div class="col-sm-7 image">
                    <img src="http://gempixel.com/short/static/stats.png" alt="One dashboard to manage all everthing.">
                </div>
                <div class="col-sm-5 info">
                    <h2>
                        Complete Analytics
                        <small>Track each and every user who clicks a link.</small>
                    </h2>
                    <p>
                        Our system allows you to track everything. Whether it is the amount of clicks, the country or
                        the referrer, the data is there. </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row feature">
                <div class="col-sm-5 info">
                    <h2>
                        Powerful Dashboard
                        <small>One dashboard to manage everything.</small>
                    </h2>
                    <p>
                        Our dashboard lets you control everything. Manage your URLs, create bundles, manage your splash
                        pages and your settings, all from the same dashboard. </p>
                </div>
                <div class="col-sm-7 image">
                    <img src="http://gempixel.com/short/static/dashboard.png" alt="One dashboard to manage everything.">
                </div>
            </div>
        </div>
    </section>
    <section class="light">
        <div class="container">
            <div class="row featurette">
                <div class="col-sm-6">
                    <i class="glyphicon glyphicon-globe"></i>
                    <h3>Short</h3>
                    <p>Short those loong urls.</p>
                </div>
                <div class="col-sm-6">
                    <i class="glyphicon glyphicon-share"></i>
                    <h3>Share</h3>
                    <p>Share your links in one click</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row stats">
                <div class="col-xs-4">
                    <h3>{{ urls_created }}</h3>
                    <strong>URLs Created</strong>
                </div>
                <div class="col-xs-4">
                    <h3>{{ clicks_served }}</h3>
                    <strong>Clicks Served</strong>
                </div>
                <div class="col-xs-4">
                    <h3>0</h3>
                    <strong>Users Registered</strong>
                </div>
            </div>
        </div>
    </section>


    <script type="text/javascript" src="{% static "js/server.js" %}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    </body>
{% endblock %}
